body{
    font-family:'Arial Narrow Bold', sans-serif;
    background-color: rgb(236, 230, 224);
    max-width: 500px;

    
}

h1{
    color: rgb(136, 117, 105);
}

#startBtn
{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

#setDelayBtn
{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;

}

#setupBox
{
    border-style: solid;
    border-width: 1px;
    padding: 25px;
    background-color: white;
}

#draftOrder
{
    margin-left: 25px;
    font-weight: 200;
}

#draftResults
{
    min-height: 500px;
    background-color: white;
    margin-top: 20px;

    border: solid 1px ;
}

#draftResults p
{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25px;
   
}